<div><div><p>projects works!I W3.CSS Vertical Navigation Bars
    With side navigation, you have several options:<br>
    Always display the navigation pane to the left of the page content
    Use a collapsible, "fully automatic" responsive side navigation
    Open navigation pane over the left part of the page content
    Open navigation pane over all of the page content
    Slide the page content to the right when opening the navigation pane
    Display the navigation pane on the right side instead of the left side
    Always Display the Sidebar</p></div></div>
