<br><br><br><br><br><form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input type="text" matInput placeholder="Enter name" >
    </mat-form-field>
  <br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder=" Enter email">
    </mat-form-field>
  
<br>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Purpose</mat-label>
       <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
<br>
<button mat-button color="accent">Submit</button>

  </form>
  